/frontend/node_modules/
/backend/.idea/.gitignore
/backend/.idea/compiler.xml
/backend/.idea/encodings.xml
/backend/.idea/jarRepositories.xml
/backend/.idea/misc.xml
/backend/.idea/vcs.xml
/backend/logs/**
/backend/target/**
/frontend/package-lock.json
/frontend/.eslintrc-auto-import.json
.claude/
backend/target/
/.idea/**
